{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@hooks": "./hooks",
          "@pages": "./pages",
          "@public": "./public",
          "@modules": "./modules",
          "@recoil": "./recoil",
          "@utils": "./utils", // will connect to all utiliy related functions
          "@components": "./components", // to all defined components
          "@widgets": "./components/widgets", //  to all defined widget components
          "@redux": "./redux" //  redux related files like-  actions, reducers
        }
      }
    ]
  ]
}
