html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  transition: ease-out 0.2s;
  transform: translateY(0px);

  &:hover {
    text-decoration: underline #0070f3;

    transition: ease-out 0.2s;
  }
}

* {
  box-sizing: border-box;
}
